@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Press Start 2P", cursive;
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-container {
  height: 18vh;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.title-text {
  font-size: 3vw;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  top: 3vw;
  color: transparent;
}
.title-text::before {
  content: "KAHEE's Portfolio!";
  position: absolute;
  color: white;
  overflow: hidden;
  animation: titleTxt 10s steps(30) infinite;
}

.pacman {
  width: 8vw;
  height: 8vw;
  position: absolute;
  top: 0vw;
  animation: move 10s linear infinite;
}
.pacman::before, .pacman::after {
  content: "";
  border: 4vw solid yellow;
  border-radius: 50%;
  position: absolute;
  border-left-color: transparent;
  border-bottom-color: transparent;
  animation: mouthTop 0.7s ease infinite;
}
.pacman::after {
  border-bottom-color: yellow;
  border-top-color: transparent;
  animation: mouthBottom 0.7s ease infinite;
}

@keyframes titleTxt {
  0% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 1;
  }
}
@keyframes mouthTop {
  50% {
    transform: rotate(-44deg);
  }
}
@keyframes mouthBottom {
  50% {
    transform: rotate(44deg);
  }
}
@keyframes move {
  0% {
    transform: translateX(73vw);
  }
  100% {
    transform: translateX(20vw);
  }
}
.audio {
  margin: 1vw 0vh 0 86vw;
  height: 3vh;
  width: 13vw;
}

.toggleBtn-container {
  margin: 15vh 0 10vh 0;
  font-size: 2vw;
}
.toggleBtn-container ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.toggleBtn-container li:hover {
  cursor: pointer;
  animation: ToggleBlinky 1s linear infinite;
}
.toggleBtn-container li.active {
  animation: ToggleBlinky 1s linear infinite;
}

@keyframes ToggleBlinky {
  0% {
    color: blue;
  }
  50% {
    color: red;
  }
  100% {
    color: green;
  }
}
.section-content {
  display: none;
}

.section-content.active {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about-container {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vh;
}
.about-container .resume {
  text-decoration: none;
  text-align: center;
  font-size: 3vw;
  color: #e8e664;
  text-shadow: 0px 0px 20px #e8e664;
  animation: flightBox 2s ease-in-out infinite;
}
.about-container .resume:hover {
  cursor: pointer;
  color: #15d200;
}
.about-container .about-itemContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-container .about-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.about-container .about-valueBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}
.about-container .about-valueBox .about-title {
  font-size: 1.5vw;
  color: #b3352e;
}
.about-container .about-valueBox .about-content {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #ffffff;
  font-size: 1.5vw;
  color: white;
  transition: border 0.5s ease; /* 커서 사라짐 애니메이션 */
}

.list-container {
  width: 100%;
  display: flex;
  margin: 1%;
  flex-direction: row;
  justify-content: space-around;
}
.list-container .list-title {
  color: aqua;
  font-weight: bold;
  font-size: 2vw;
}
.list-container div {
  width: 48%;
  height: 40vh;
  padding: 3% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: brightness(50%);
}
.list-container div:hover {
  border: 10px solid rgb(255, 151, 0);
  box-shadow: 0 0 20px 8px rgb(255, 151, 0);
  filter: brightness(100%);
  animation: flightBox 2s ease-in-out infinite;
}
.list-container ul {
  list-style: none;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.list-container li img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.list-container li img:hover {
  box-shadow: 0 0 20px 8px white;
}

@keyframes flightBox {
  50% {
    transform: translateY(-1vw);
  }
  100% {
    transform: translateY(0);
  }
}
.project-container {
  width: 80%;
  height: 43vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  perspective: 700px;
  animation: scaleUp 2s ease-in-out;
  flex-direction: row;
}

.projectCard-container {
  width: 25%;
  height: 100%;
  position: relative;
  transform: rotateY(0deg);
  transition: 1s;
  transform-style: preserve-3d;
}

.card-side {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  backface-visibility: hidden;
}
.card-side img {
  width: 90%;
}

.project-front {
  background: rgba(204, 0, 255, 0.8117647059);
  box-shadow: 0px 1px 20px 20px #8900ab;
}

.project-back {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  transform: rotateY(180deg);
  background: rgb(34, 34, 34);
  box-shadow: 1px 1px 20px 20px #3d3d3d;
  font-size: 1vw;
}
.project-back ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  font-size: 0.8vw;
  list-style: none;
}

.projectCard-container:hover {
  transform: rotateY(180deg);
}

@keyframes scaleUp {
  0% {
    transform: scale(var(--scale-start, 0.1));
    filter: brightness(50%);
  }
  100% {
    transform: scale(var(--scale-end, 1));
    filter: brightness(100%);
  }
}

/*# sourceMappingURL=style.css.map */
