@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
}
::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Press Start 2P", "DungGeunMo", cursive;
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.initial-container {
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  background: black;
}
.initial-container .initial-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20vh;
}
.initial-container .initial-title {
  font-size: 7vw;
  color: #36ff00;
  text-shadow: 1px 1px 20px #2fe000;
}
.initial-container .choice-item {
  display: flex;
  justify-content: space-evenly;
}
.initial-container .sound-choice {
  font-size: 5vw;
  cursor: pointer;
}
.initial-container .sound-choice:hover {
  cursor: pointer;
  text-shadow: 1px 1px 20px red;
  color: red;
  transform: scale(1.5);
}

#audio {
  display: none; /* 기본 오디오 컨트롤 숨김 */
}

.audio-player {
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 90%;
  padding-top: 1%;
  align-content: space-between;
}

#volumeBar {
  width: 20%;
  cursor: pointer;
}

.audio-btn {
  border: none;
  background-color: transparent;
  font-size: 1vw;
  color: white;
  font-family: "Press Start 2P", cursive;
}

.title-container {
  height: 20vh;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.title-text {
  font-size: 3vw;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  top: 4vw;
  color: transparent;
}
.title-text::before {
  content: "KAHEE's Portfolio!";
  position: absolute;
  color: white;
  overflow: hidden;
  animation: titleTxt 10s steps(30) infinite;
}

.pacman {
  width: 8vw;
  height: 8vw;
  position: absolute;
  top: 1vw;
  animation: move 10s linear infinite;
}
.pacman::before, .pacman::after {
  content: "";
  border: 4vw solid yellow;
  border-radius: 50%;
  position: absolute;
  border-left-color: transparent;
  border-bottom-color: transparent;
  animation: mouthTop 0.7s ease infinite;
}
.pacman::after {
  border-bottom-color: yellow;
  border-top-color: transparent;
  animation: mouthBottom 0.7s ease infinite;
}

@keyframes titleTxt {
  0% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 1;
  }
}
@keyframes mouthTop {
  50% {
    transform: rotate(-44deg);
  }
}
@keyframes mouthBottom {
  50% {
    transform: rotate(44deg);
  }
}
@keyframes move {
  0% {
    transform: translateX(73vw);
  }
  100% {
    transform: translateX(20vw);
  }
}
.toggleBtn-container {
  margin-top: 12vh;
  font-size: 2vw;
}
.toggleBtn-container ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.toggleBtn-container li:hover {
  cursor: pointer;
  animation: ToggleBlinking 1s linear infinite;
}
.toggleBtn-container li.active {
  animation: ToggleBlinking 1s linear infinite;
}

@keyframes ToggleBlinking {
  0% {
    color: blue;
  }
  50% {
    color: red;
  }
  100% {
    color: green;
  }
}
.section-content {
  display: none;
}

.section-content.active {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about-container {
  width: 90%;
  height: 40vh;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15vh;
}
.about-container .resume {
  text-decoration: none;
  text-align: center;
  font-size: 3vw;
  color: #e8e664;
  text-shadow: 0px 0px 20px #e8e664;
  animation: flightBox 2s ease-in-out infinite;
}
.about-container .resume:hover {
  cursor: pointer;
  color: #15d200;
}
.about-container .about-itemContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-container .about-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.about-container .about-valueBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}
.about-container .about-valueBox .about-title {
  font-size: 1.5vw;
  color: #b3352e;
}
.about-container .about-valueBox .about-content {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #ffffff;
  font-size: 1.5vw;
  color: white;
  transition: border 0.5s ease; /* 커서 사라짐 애니메이션 */
}
.about-container .about-name {
  font-weight: bold;
}

.list-container {
  width: 100%;
  height: 40vh;
  margin-top: 7%;
  padding: 0 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.list-container .list-title {
  color: aqua;
  font-weight: bold;
  font-size: 2vw;
}
.list-container div {
  width: 48%;
  height: 40vh;
  padding: 3% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: brightness(50%);
}
.list-container div:hover {
  border: 10px solid rgb(255, 151, 0);
  box-shadow: 0 0 20px 8px rgb(255, 151, 0);
  filter: brightness(100%);
  animation: flightBox 2s ease-in-out infinite;
}
.list-container ul {
  list-style: none;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.list-container li img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.list-container li img:hover {
  box-shadow: 0 0 20px 8px white;
}

@keyframes flightBox {
  50% {
    transform: translateY(-1vw);
  }
  100% {
    transform: translateY(0);
  }
}
.project-container {
  width: 100%;
  height: 40vh;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  transition: transform 0.5s ease-in-out;
}
.project-container .project-card {
  width: 25%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.project-container .project-name {
  font-size: 2vw;
  position: absolute;
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s;
}
.project-container .project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out, visibility 0.5s;
}
.project-container .project-card:hover {
  transform: scale(1.5) translateY(-20%);
  z-index: 3;
  margin: 0 15%;
}
.project-container .project-card:hover .project-name {
  opacity: 0;
  visibility: hidden;
}
.project-container .project-card:hover .project-img {
  opacity: 1;
  visibility: visible;
}

.project-container.active {
  animation: flightBox 2s ease-in-out infinite;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.activities-container {
  width: 90%;
  height: 55vh;
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  font-size: 1.3vw;
  padding: 2%;
}
.activities-container .activities-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}
.activities-container .activities-section {
  font-size: 1.8vw;
  color: #00ffe5;
}

.ghost {
  position: absolute;
  top: 60%;
  left: 0%;
  height: 8.7%;
  width: 3%;
  background: red;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  cursor: pointer;
  transform: scale(4) rotate(65deg);
  animation: ghostAppearance 1s ease-out forwards, ghostMove 2.2s 1.3s linear forwards, ghostBlinking 0.4s linear infinite;
}

.ghost::before,
.ghost::after {
  position: absolute;
  content: "";
  top: 20%;
  left: 7%;
  height: 36%;
  width: 35%;
  border-radius: 50%;
  background: white;
}

.ghost::after {
  left: 50%;
}

.eyes::before,
.eyes::after {
  position: absolute;
  content: "";
  height: 14%;
  width: 14%;
  background: blue;
  border-radius: 100%;
  top: 36%;
  right: 68%;
  animation: eyeLeft 0.7s 0.5s ease-in infinite;
}

.eyes::after {
  animation: eyeRight 0.7s 0.5s ease-in infinite;
  z-index: 1;
  right: 25%;
}

.skirt,
.skirt::before,
.skirt::after {
  position: absolute;
  height: 0;
  width: 0;
  border: 10px solid rgb(0, 0, 0);
  border-top-color: transparent;
  bottom: -1%;
}

.skirt::before {
  content: "";
  left: 0.5vw;
  bottom: -0.5vw;
}

.skirt::after {
  content: "";
  left: 1.5vw;
  bottom: -0.5vw;
}

.ghost-txt {
  position: absolute;
  top: 92%;
  font-size: 0.5vw;
  text-align: center;
  left: 10%;
}

@keyframes ghostAppearance {
  0%, 10% {
    transform: translateX(-100%) scale(4) rotate(65deg);
  }
}
@keyframes ghostMove {
  0% {
    left: 0%;
  }
  25% {
    top: 45%;
    transform: scale(6);
  }
  50% {
    top: 75%;
    transform: scale(2);
  }
  75% {
    top: 40%;
    transform: scale(5);
  }
  100% {
    top: 70%;
    left: 90%;
    transform: scale(1.7);
  }
}
@keyframes ghostBlinking {
  50% {
    background: hotpink;
  }
}
@keyframes eyeLeft {
  0%, 100% {
    left: 15%;
  }
  50% {
    left: 25%;
  }
}
@keyframes eyeRight {
  0%, 100% {
    left: 55%;
  }
  50% {
    left: 65%;
  }
}

/*# sourceMappingURL=style.css.map */
