@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
}

$pacman-top: 0vw;
$pacman-size: 8vw;
$title-text-top: 3vw;
$title-text-font-size: 3vw;

::-webkit-scrollbar {
  display: none; // 스크롤바 숨김
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Press Start 2P", "DungGeunMo", cursive;
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// BGM
.music-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1;
}

.music-box.active {
  opacity: 0;
}

.soundOn-Containnr {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .soundOn-choiceContainnr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20vh;
  }
  .choice-title {
    font-size: 7vw;
    color: #2ac600;
    text-shadow: 1px 1px 20px #2fe000;
  }
  .sound-choiceItem {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15vw;
  }

  .sound-choice {
    border: none;
    background: transparent;
    font-size: 4vw;
    transform: scale(1.3);
    transition: transform 0.3s;
    z-index: 2;
  }

  .sound-choice:hover {
    cursor: pointer;
    text-shadow: 1px 1px 20px rgb(255 188 0);
    color: rgb(255, 188, 0);
    transform: scale(2);
    transition: transform 0.3s;
  }
}
.music-player {
  // margin: 1vw 0vh 0 86vw;
  // height: 3vh;
  // width: 13vw;
}

// title
.title-container {
  height: 18vh;
  overflow: hidden; // 제목이 넘치면 숨김
  text-align: center;
  position: relative;
}

.title-text {
  font-size: $title-text-font-size;
  white-space: nowrap; // 줄 바꿈 방지
  display: inline-block;
  position: relative;
  top: $title-text-top;
  color: transparent; // 텍스트 색상 투명

  &::before {
    content: "KAHEE's Portfolio!";
    position: absolute;
    color: white;
    overflow: hidden;
    animation: titleTxt 10s steps(30) infinite;
  }
}

.pacman {
  width: $pacman-size;
  height: $pacman-size;
  position: absolute;
  top: $pacman-top;
  animation: move 10s linear infinite;

  &::before,
  &::after {
    content: "";
    border: calc($pacman-size / 2) solid yellow;
    border-radius: 50%;
    position: absolute;
    border-left-color: transparent;
    border-bottom-color: transparent;
    animation: mouthTop 0.7s ease infinite;
  }

  &::after {
    border-bottom-color: yellow;
    border-top-color: transparent;
    animation: mouthBottom 0.7s ease infinite;
  }
}

@keyframes titleTxt {
  0% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 1;
  }
}

@keyframes mouthTop {
  50% {
    transform: rotate(-44deg);
  }
}

@keyframes mouthBottom {
  50% {
    transform: rotate(44deg);
  }
}

@keyframes move {
  0% {
    transform: translateX(73vw);
  }
  100% {
    transform: translateX(20vw);
  }
}

// toggle
.toggleBtn-container {
  margin-top: 12vh;
  font-size: 2vw;

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  li:hover {
    cursor: pointer;
    animation: ToggleBlinking 1s linear infinite;
  }
  li.active {
    animation: ToggleBlinking 1s linear infinite;
  }
}

@keyframes ToggleBlinking {
  0% {
    color: blue;
  }
  50% {
    color: red;
  }
  100% {
    color: green;
  }
}

// main
.section-content {
  display: none;
}
.section-content.active {
  display: flex;
  justify-content: center;
  width: 100%;
}

// about
.about-container {
  width: 90%;
  height: 40vh;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15vh;

  .resume {
    text-decoration: none;
    text-align: center;
    font-size: 3vw;
    color: #e8e664;
    text-shadow: 0px 0px 20px #e8e664;
    animation: flightBox 2s ease-in-out infinite;
  }

  .resume:hover {
    cursor: pointer;
    color: #15d200;
  }

  .about-itemContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .about-valueBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;

    .about-title {
      font-size: 1.5vw;
      color: #b3352e;
    }

    .about-content {
      white-space: nowrap;
      overflow: hidden;
      border-right: 2px solid #ffffff;
      font-size: 1.5vw;
      color: white;
      transition: border 0.5s ease; /* 커서 사라짐 애니메이션 */
    }
  }

  .about-name {
    font-weight: bold;
  }
}
// skill
.list-container {
  width: 100%;
  height: 40vh;
  margin-top: 7%;
  padding: 0 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .list-title {
    color: aqua;
    font-weight: bold;
    font-size: 2vw;
  }

  div {
    width: 48%;
    height: 40vh;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: brightness(50%);
  }

  div:hover {
    border: 10px solid rgb(255, 151, 0);
    box-shadow: 0 0 20px 8px rgb(255, 151, 0);
    filter: brightness(100%);
    animation: flightBox 2s ease-in-out infinite;
  }

  ul {
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  li {
    img {
      width: 80px;
      height: 80px;
      border-radius: 5px;
    }
    img:hover {
      box-shadow: 0 0 20px 8px white;
    }
  }
}

@keyframes flightBox {
  50% {
    transform: translateY(-1vw);
  }
  100% {
    transform: translateY(0);
  }
}

// project
.project-container {
  width: 100%;
  height: 40vh;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  transition: transform 0.5s ease-in-out;

  .project-card {
    width: 25%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }

  .project-name {
    font-size: 2vw;
    position: absolute;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s;
  }

  .project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out, visibility 0.5s;
  }

  .project-card:hover {
    transform: scale(1.5) translateY(-20%);
    z-index: 3;
    margin: 0 15%;
  }

  .project-card:hover .project-name {
    opacity: 0;
    visibility: hidden;
  }

  .project-card:hover .project-img {
    opacity: 1;
    visibility: visible;
  }
}
.project-container.active {
  animation: flightBox 2s ease-in-out infinite;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

// activities

.activities-container {
  width: 90%;
  height: 55vh;
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  font-size: 1.3vw;
  padding: 2%;
  animation: noise 0.2s 0.5s ease-in 4 forwards;
  // filter: brightness(50%);
  opacity: 0;
  visibility: hidden;
  animation: activitiesBlinking 3s 2.5s ease-in forwards;

  .activities-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
  }

  // .activities-item:hover {
  //   filter: brightness(100%);
  // }

  .activities-section {
    font-size: 1.8vw;
    color: blue;
  }

  // p {
  //   animation: activitiesBlinking 0.1s 5.5s ease-in 35 forwards;
  // }
}

@keyframes activitiesBlinking {
  100% {
    opacity: 1;
    visibility: visible; /* 끝나면 보임 */
  }
}
// @keyframes activitiesBlinking {
//   50% {
//     color: transparent;
//   }
// }

// @keyframes noise {
//   50% {
//     background-image: url("/img/gif/noise.gif");
//     background-size: 60%;
//   }
// }
//
// 트랜지션 브라우저 설정
// -webkit-transform: scale(1.2); /* 크롬, 사파리 */
// -moz-transform: scale(1.2);  /* 파이어폭스 */
// -ms-transform: scale(1.2); /* IE */
// -o-transform: scale(1.2);  /* 오페라 */

.ghost {
  position: absolute;
  top: 50%;
  // z-index: 99;
  left: 0%;
  height: 8.7%;
  width: 3%;
  background: red;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  animation: showGhost 1s ease-out forwards, ghostMove 5s 1.3s linear forwards,
    ghostBlinking 0.4s linear infinite;
  transform: scale(1.7);
  cursor: pointer;
}

.ghost::before,
.ghost::after {
  position: absolute;
  // z-index: 99;
  content: "";
  top: 20%;
  left: 7%;
  height: 36%;
  width: 35%;
  border-radius: 50%;
  background: white;
}

.ghost::after {
  left: 50%;
}

.eyes::before,
.eyes::after {
  position: absolute;
  content: "";
  height: 14%;
  width: 14%;
  background: blue;
  border-radius: 100%;
  top: 36%;
  right: 68%;
  // z-index: 99;
  animation: eyeLeft 0.7s 0.5s ease-in infinite;
}

.eyes::after {
  animation: eyeRight 0.7s 0.5s ease-in infinite;
  z-index: 1;
  right: 25%;
}

.skirt,
.skirt::before,
.skirt::after {
  position: absolute;
  height: 0;
  width: 0;
  border: 10px solid rgb(0, 0, 0);
  border-top-color: transparent;
  bottom: -1%;
}
.skirt::before {
  content: "";
  left: 0.5vw;
  bottom: -0.5vw;
}

.skirt::after {
  content: "";
  left: 1.5vw;
  bottom: -0.5vw;
}

@keyframes showGhost {
  0%,
  10% {
    top: 60%;
    transform: translateX(-100%);
  }
}

@keyframes ghostMove {
  0% {
    left: 0%;
  }
  25% {
    top: 45%;
    transform: scale(5);
  }
  50% {
    top: 75%;
    transform: scale(2);
  }
  75% {
    top: 45%;
    transform: scale(5);
  }
  100% {
    top: 70%;
    left: 90%;
  }
}

@keyframes ghostBlinking {
  50% {
    background: hotpink;
  }
}

@keyframes eyeLeft {
  0%,
  100% {
    left: 15%;
  }
  50% {
    left: 25%;
  }
}

@keyframes eyeRight {
  0%,
  100% {
    left: 55%;
  }

  50% {
    left: 65%;
  }
}
